pre {
  border-color: #00ff00;
  border: 1px solid #00ff00;
	font-size: 0.88889em;
	line-height: 1.5;
	margin: 0 0 1em;
	overflow: auto;
	padding: 1.5em;
	white-space: pre;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #ffffff;
  background-color: #090808;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1 {
  color: #1c5701;
}
.highlight .cp {
  color: #FF6600;
}
.highlight .cpf {
  color: #339999;
}
.highlight .cs {
  color: #cc0000;
  font-weight: bold;
}
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kr, .highlight .kv {
  color: #FF6600;
  font-weight: bold;
}
.highlight .kp {
  color: #038;
}
.highlight .kt {
  color: #ffffff;
}
.highlight .o {
  color: #FF6600;
}
.highlight .ow {
  color: #000;
  font-weight: bold;
}
.highlight .n {
  color: #FFCC00;
}
.highlight .nb, .highlight .bp {
  color: #05FF00;
}
.highlight .nf {
  color: #ffffff;
  font-weight: bold;
}
.highlight .nc {
  color: #B06;
  font-weight: bold;
}
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}
.highlight .ne {
  color: #F00;
  font-weight: bold;
}
.highlight .nv {
  color: #ffef00;
}
.highlight .vi {
  color: #33B;
}
.highlight .vc {
  color: #369;
}
.highlight .vg {
  color: #d70;
  font-weight: bold;
}
.highlight .no {
  color: #036;
  font-weight: bold;
}
.highlight .nl {
  color: #FFCC00;
  font-weight: bold;
}
.highlight .ni {
  color: #800;
  font-weight: bold;
}
.highlight .na {
  color: #FF6600;
}
.highlight .nt {
  color: #070;
}
.highlight .nd {
  color: #555;
  font-weight: bold;
}
.highlight .s, .highlight .sb, .highlight .s2, .highlight .sh, .highlight .s1 {
  color: #66FF00;
}
.highlight .sc {
  color: #04D;
}
.highlight .sd {
  color: #D42;
}
.highlight .si {
  background-color: #eee;
}
.highlight .se {
  color: #339999;
  font-weight: bold;
}
.highlight .sr {
  color: #000;
  background-color: #fff0ff;
}
.highlight .ss {
  color: #A60;
}
.highlight .sx {
  color: #D20;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #60E;
  font-weight: bold;
}
.highlight .mi, .highlight .il {
  color: #99CC99;
  font-weight: bold;
}
.highlight .mf {
  color: #60E;
  font-weight: bold;
}
.highlight .mh {
  color: #058;
  font-weight: bold;
}
.highlight .mo {
  color: #40E;
  font-weight: bold;
}
.highlight .gh {
  color: #000080;
  font-weight: bold;
}
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
.highlight .gd {
  color: #A00000;
}
.highlight .gi {
  color: #00A000;
}
.highlight .gr {
  color: #FF0000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}
.highlight .go {
  color: #888;
}
.highlight .gt {
  color: #04D;
}
.highlight .err {
  color: #F00;
  background-color: #000000;
}
